body
{
    height: 100vh;
}

.card
{   
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    /* width: 350px; */
    
    
}

.card__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: crimson;
    /* width: 300px; */

}
.card__inner
{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.card__name
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
    margin: 10px 0;
}

.card__name span{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}
.card__total
{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    margin: 10px ;
    color: darkorange;
    text-shadow: 5px 5px black;
}

.container
{
    display: flex;
}

.neons {
    margin-top: 10rem;
    text-align: center;
 }
 
 .neons h2 {
   font-size: 9rem;
   text-align: center;
    font-weight: bold;
   -webkit-animation: glow 2s ease-in-out infinite alternate;
   -moz-animation: glow 2s ease-in-out infinite alternate;
   animation: glow 2s ease-in-out infinite alternate;
 }
 
 @-webkit-keyframes glow {
      from {
       color: #fff;
     text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 90px red;
   }
   
   to {
      color: gray;
     text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red, 0 1 90px red;
   }
 }